<p><%= t('aspace_sitemap_job.sitemap_form_help') %></p>
<%= form.hidden_input "format", "zip" %>
<div class="form-group required">
  <span class="help-block"><%= t('aspace_sitemap_job.sitemap_baseurl_help') %></span>
  <%= form.label_and_textfield "sitemap_baseurl", {:field_opts => {:class => "input-large form-control", :required => true }} %>
</div>
<div class="form-group required">
  <span class="help-block"><%= t('aspace_sitemap_job.sitemap_limit_help') %></span>
  <% default_limit = AppConfig.has_key?(:aspace_sitemap_default_limit) ? AppConfig[:aspace_sitemap_default_limit] : 50000 %>
  <%= form.label_and_textfield "sitemap_limit", {:field_opts => {:size => 10, :required => true, :type => "number", :value => default_limit}} %>
</div>
<div class="form-group required">
  <span class="control-label"><%= t('aspace_sitemap_job.sitemap_types_legend') %></span>
  <%= form.label_and_multi_boolean("sitemap_types", ['resource', 'accession', 'archival_object', 'digital_object', 'agent_person', 'agent_family', 'agent_corporate_entity']) %>
</div>
<div class="form-group required">
  <span class="help-block"><%= t('aspace_sitemap_job.sitemap_refresh_freq_help') %></span>
  <%= form.label_and_select "sitemap_refresh_freq", ['yearly', 'monthly', 'daily', 'hourly', 'always', 'never'], {:field_opts => {:required => true}} %>
</div>
<% if AppConfig.has_key?(:use_human_readable_urls) %>
<div class="form-group">
  <span class="help-block"><%= t('aspace_sitemap_job.sitemap_use_slugs_help') %></span>
  <%= form.label_and_boolean "sitemap_use_slugs" %>
</div>
<% end %>
<div class="form-group">
  <span class="help-block"><%= t('aspace_sitemap_job.sitemap_use_filesys_help') %></span>
  <%= form.label_and_boolean "sitemap_use_filesys" %>
</div>